<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>binance_practice</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='socket.js') }}"></script>
  </head>
  <body>
    <div id="trades">
      <h1>체결 내역</h1>
      <form id="filterForm">
        <div>필터 옵션</div>
        <label for="filterCount">Count</label>
        <input type="number" id="filterCount" name="count" min="0" />
        <label for="filterAmount">Amount</label>
        <input type="number" id="filterAmount" name="amount" min="0" />
        <button type="button" onclick="updateFilterOptions()">
          Apply
        </button>
      </form>
      <table id="tradesTable">
        <tr>
          <th>Time</th>
          <th>Count</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Net</th>
        </tr>
      </table>
    </div>
  </body>
</html>
